@import './styles/variables';
@import './styles/animations';

:root,
.app {
	text-align: center;
}

.container {
	padding-top: 100px;
	color: $color-white;

	@media (max-width: 720px) {
		padding-top: 70px;
	}

	button.close {
		display: none;
	}

	button {
		display: block;
		width: 90%;
		height: 26px;
		margin: 8px auto;
		font-size: 0.6rem;
		text-align: center;

		@media (max-width: 720px) {
			height: 20px;
			padding: 2px 2px;
			font-size: 0.6rem;
		}

		@media (max-width: 480px) {
			margin: 15px auto;
			height: 35px;
			font-size: 1rem;
		}

		&.btn-watch-later {
			&.blue {
				color: $color-white;
				background-color: $color-blue-light;
				border: $color-blue-light;
			}

			&:hover {
				color: $color-white;
				background: $color-blue-light;
				border-color: $color-blue-light;
			}
		}

		&.btn-dark:hover {
			color: $color-white;
			background: $color-blue-light;
			border-color: $color-blue-light;
		}
	}
}
